<button class="btn btn-primary" (click)="flip()">Flip</button>&nbsp;
<button class="btn btn-primary" (click)="reset()">New Game</button>

<div class="flips">
    <h2>Flip Counter</h2>
    {{flips}} flip(s)
</div>

<div class="cards">
    <h2>Card Order</h2>
    <ul>
        <li *ngFor="let card of cards">
            {{card.name}}
        </li>
    </ul>
</div>
